.git/
.venv/
venv/
__pycache__/
*/__pycache__/
*/*/__pycache/
*/*/*/__pycache__/
django_project/local_settings/
.data/
.media/
.static/
README.md

.containers.yaml
.containers.yml
.containers.json

.dockerignore
docker-compose.yml
dockerfiles/

.env
.env.*
