asgiref==3.11.1 ; python_version >= "3.13" and python_version < "3.15"
attrs==26.1.0 ; python_version >= "3.13" and python_version < "3.15"
autobahn==25.12.2 ; python_version >= "3.13" and python_version < "3.15"
automat==25.4.16 ; python_version >= "3.13" and python_version < "3.15"
cbor2==6.0.1 ; python_version >= "3.13" and python_version < "3.15"
certifi==2026.4.22 ; python_version >= "3.13" and python_version < "3.15"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "3.15"
charset-normalizer==3.4.7 ; python_version >= "3.13" and python_version < "3.15"
constantly==23.10.4 ; python_version >= "3.13" and python_version < "3.15"
cryptography==48.0.1 ; python_version >= "3.13" and python_version < "3.15"
daphne==4.2.2 ; python_version >= "3.13" and python_version < "3.15"
defusedxml==0.7.1 ; python_version >= "3.13" and python_version < "3.15"
django-allauth==65.16.1 ; python_version >= "3.13" and python_version < "3.15"
django-environ==0.12.1 ; python_version >= "3.13" and python_version < "3.15"
django-extensions==4.1 ; python_version >= "3.13" and python_version < "3.15"
django-widget-tweaks==1.5.1 ; python_version >= "3.13" and python_version < "3.15"
django==6.0.7 ; python_version >= "3.13" and python_version < "3.15"
flake8==7.3.0 ; python_version >= "3.13" and python_version < "3.15"
hyperlink==21.0.0 ; python_version >= "3.13" and python_version < "3.15"
idna==3.13 ; python_version >= "3.13" and python_version < "3.15"
incremental==24.11.0 ; python_version >= "3.13" and python_version < "3.15"
isodate==0.7.2 ; python_version >= "3.13" and python_version < "3.15"
lxml==6.1.1 ; python_version >= "3.13" and python_version < "3.15"
mccabe==0.7.0 ; python_version >= "3.13" and python_version < "3.15"
msgpack==1.1.2 ; python_version >= "3.13" and python_version < "3.15" and platform_python_implementation == "CPython"
mysqlclient==2.2.8 ; python_version >= "3.13" and python_version < "3.15"
oauthlib==3.3.1 ; python_version >= "3.13" and python_version < "3.15"
packaging==26.2 ; python_version >= "3.13" and python_version < "3.15"
pillow==12.2.0 ; python_version >= "3.13" and python_version < "3.15"
psycopg2==2.9.12 ; python_version >= "3.13" and python_version < "3.15"
py-ubjson==0.16.1 ; python_version >= "3.13" and python_version < "3.15"
pyasn1-modules==0.4.2 ; python_version >= "3.13" and python_version < "3.15"
pyasn1==0.6.3 ; python_version >= "3.13" and python_version < "3.15"
pycodestyle==2.14.0 ; python_version >= "3.13" and python_version < "3.15"
pycparser==3.0 ; python_version >= "3.13" and python_version < "3.15" and implementation_name != "PyPy"
pyflakes==3.4.0 ; python_version >= "3.13" and python_version < "3.15"
pyjwt==2.12.1 ; python_version >= "3.13" and python_version < "3.15"
pyopenssl==26.2.0 ; python_version >= "3.13" and python_version < "3.15"
python3-openid==3.2.0 ; python_version >= "3.13" and python_version < "3.15"
python3-saml==1.16.0 ; python_version >= "3.13" and python_version < "3.15"
requests==2.33.1 ; python_version >= "3.13" and python_version < "3.15"
service-identity==24.2.0 ; python_version >= "3.13" and python_version < "3.15"
sqlparse==0.5.5 ; python_version >= "3.13" and python_version < "3.15"
twisted==25.5.0 ; python_version >= "3.13" and python_version < "3.15"
txaio==25.12.2 ; python_version >= "3.13" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "3.15"
tzdata==2026.2 ; python_version >= "3.13" and python_version < "3.15" and sys_platform == "win32"
u-msgpack-python==2.8.0 ; python_version >= "3.13" and python_version < "3.15" and platform_python_implementation != "CPython"
ujson==5.12.1 ; python_version >= "3.13" and python_version < "3.15"
urllib3==2.6.3 ; python_version >= "3.13" and python_version < "3.15"
uwsgi==2.0.31 ; python_version >= "3.13" and python_version < "3.15"
xmlsec==1.3.17 ; python_version >= "3.13" and python_version < "3.15"
zope-interface==8.4 ; python_version >= "3.13" and python_version < "3.15"
