@import "../../node_modules/bootstrap/scss/bootstrap";
// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";

// Import the Sass files as usual
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

.login-card {
    max-width: 400px;
    background-color: $body-bg-dark;
    color: $light-text-emphasis-dark;
}

.login-card .card-header {
    background-color: $body-bg-dark;
    color: $light-text-emphasis-dark;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.login-card .card-body {
    padding: 2rem;
    text-align: center;
    color: $light-text-emphasis-dark;
    background-color: $body-bg-dark;
}